body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav {
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid gray;
  background-color: #503396;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.navdiv {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-evenly;
  margin-top: 10px;
}
.logo {
  width: 140px;
  height: 70px;
  flex-grow: 0;
}
.container {
  width: 1000px;
  height: auto;
  flex-grow: 1;
}

.fontNav {
  font-size: 32px;
  color: #ffffff;
  width: 100vw;
  height: 120px;
}

.hamburger {
  filter: invert(100%);
  width: 30px;
  margin-left: 10px;
  margin-top: 20px;
  height: auto;    
}

.person {
  filter: invert(100%);
  width: 25px;
  height: auto;
  margin-top: 25px;
  margin-right: 20px;

}


/* font-size
navSize-32px
tabSize-24px
detail-16px */
