.nav {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid gray;
  background-color: #503396;
  border-bottom: 1px solid gray;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 32px;
}
.navdiv {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-evenly;
}
.logo {
  flex-grow: 1;
  width: 140px;
  height: 75px;
}

.hamburger {
  filter: invert(100%);
  width: 32px;
  height: auto;
  margin-left: 10px;
}

.person {
  filter: invert(100%);
  width: 32px;
  height: auto;
  margin-top: 10px;
}
