<nav class="nav">
  <div>
    <a href="#">
      <img
        class="hamburger"
        src="/common/images/hamburger.png"
        alt="hamburger"
      />
    </a>
  </div>
  <div class="navdiv">
    <p><a href="/view/movies/movies.html">영화</a></p>
    <p><a href="/view/booking/main_booking.html">예매</a></p>
    <p><a href="#">극장</a></p>
  </div>
  <div class="logo-div">
    <a href="/view/mainpage/main.html">
      <img class="logo" src="/common/images/logo.png" alt="logo" />
    </a>
  </div>
  <div class="navdiv">
    <p><a href="#">이벤트</a></p>
    <p><a href="#">스토어</a></p>
    <p><a href="#">혜택</a></p>
  </div>
  <div>
    <a href="#">
      <img class="person" src="/common/images/person.png" alt="person" />
    </a>
  </div>
</nav>
