<div class="search">
  <div class="cell" style="display: flex; justify-content: center">
    <div class="search" style="display: flex; justify-content: center">
      <input
        type="text"
        placeholder="영화명을 입력해 주세요"
        title="영화 검색"
        class="input-text"
        id="movieName"
      />
      <button type="button" class="btn" id="btnSearch">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass" alt="검색"></i>
        </a>
      </button>
    </div>
  </div>
  <div class="cell">
    <div class="div">
      <button type="button" class="btn" id="btnSearch">
        <a href="#">
          <i class="fa-solid fa-calendar-days"></i>
        </a>
      </button>
      <p>상영시간표</p>
    </div>
  </div>
  <div class="cell">
    <div class="div">
      <button type="button" class="btn" id="btnSearch">
        <a href="#">
          <i class="fa-solid fa-film"></i>
        </a>
      </button>
      <p>박스오피스</p>
    </div>
  </div>
  <div class="cell">
    <div class="div">
      <button type="button" class="btn" id="btnSearch">
        <a href="/view/booking/main_booking.html">
          <i class="fa-solid fa-ticket"></i>
        </a>
      </button>
      <p>빠른예매</p>
    </div>
  </div>
</div>
