.poster {
  background-image: url(../../../../common/images/movie1.webp);
  width: 200px;
  height: 300px;
  margin-bottom: 16px;
  background-color: #503396;
  border-radius: 8px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.poster:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rank {
  padding: 8px;
  font-size: 24px;
  font-style: italic;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.pick {
  width: 64px;
  height: 28px;
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid #737373;
  border-radius: 4px;
}

.buttonDiv button {
  width: 120px;
  height: 30px;
  background-color: #503396;
  border: 1px solid #503396;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
}

.buttonDiv button:hover {
  cursor: pointer;
}
