<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Details</title>
  <link rel="stylesheet" href="detail.css">
  <link rel="stylesheet" href="../../view/footer/footer.css" />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
  <script src="../../control/jquery.js"></script>  
  <script type="text/javascript">
    $(function () {
      $.get("../../view/footer/footer.html", function (data) {
        $("footer>div").append(data);
      });
    });
  </script>
  <nav class="nav">
    <div>
      <img class="hamburger" src="../../common/images/hamburger.png" alt="hamburger" />
    </div>
    <div class="navdiv">
      <p>영화</p>
      <p>예매</p>
      <p>극장</p>
    </div>
    <div class="logo-div">
      <a href="/view/mainpage/main.html">
        <img class="logo" src="../../common/images/logo.png" alt="logo" />
      </a>
    </div>
    <div class="navdiv">
      <p>이벤트</p>
      <p>스토어</p>
      <p>혜택</p>
    </div>
    <div>
      <img class="person" src="../../common/images/person.png" alt="person" />
    </div>
  </nav>
</head>

<body>        
  <div class="movie-header">  
    <div class="movie-info">
      <h1>진격의 거인 완결편 더 라스트 어택</h1>
      <h2>Attack on Titan The Movie : THE LAST ATTACK</h2>      
    </div>  
    <div class="movie-poster">
      <div class="poster">
        <img class="poster-image" src="https://img.megabox.co.kr/SharedImg/2025/03/19/t1aws8JYeDCKaCbRntA8oalmQ2UW33ua_420.jpg" alt="poster" />
      </div>   
      <button class="reserve-button">예매</button>
      
      
      
    </div>       
  </div>
  
  <!-- 탭 메뉴 -->
  <div class="tabs">
    <button class="tab-button active">주요정보</button>
    <button class="tab-button">실관람평</button>
    <button class="tab-button">예고편</button>
  </div>
    <!-- 탭 메뉴 -->
    <div class="tabs">
      <button class="tab-button active">주요정보</button>
      <button class="tab-button">실관람평</button>
      <button class="tab-button">예고편</button>
    </div>

    <!-- 주요 정보 -->

    <div class="main-info">
      <p>이것이 최후의 "진격"---!</p>
      <p>
        거인의 위협으로부터 몸을 지키기 위해 거대한 벽을 쌓고 그 안에서 숨을
        죽이고 살고 있는 인류.<br />
        백 년의 평화는 초대형 거인의 습격으로 파괴됐고, 어머니를 잃은 소년 엘런
        예거는<br />
        모든 거인을 없앨 것을 맹세하고 거인과 싸우는 조사병단의 일원이 되었다.
      </p>
      <p class="hidden-text" style="display: none">
        글자 그대로 목숨을 건 싸움 속에서 엘런 예거는 자신도 거인이 되는 능력을
        손에 넣었고<br />인류의 승리에 공헌하면서 조금씩 세계의 진실에
        가까워지고 있었다. 이윽고 시간이 흘러 벽 밖으로 나간 엘런은<br />조사병단의
        동료들과 갈라섰고 어떤 무시무시한 계획을 실행한다.<br /><br />수많은
        거인을 이끌고, 이 세계의 살아있는 모든 것들을 짓밟는 「땅울림」.<br /><br />미카사와
        아르민을 시작으로 남겨진 자들은 세계를 멸망시키려 하는 엘런을 막기 위해
        최후의 싸움에 나선다.<br /><br /><br /><br />
      </p>
      <button class="more-info-button">더보기</button>
    </div>

    <!-- 차트 -->
    <div class="chart-section">
      <img
        class="chart-image"
        src="../../common/images/chart.png"
        alt="chart"
      />
    </div>
  </section>
  
  <script type="text/javascript" src="../../control/detail.js"></script>
  <footer class="footer">
    <div></div>
  </footer>
</body>
</html>
