/* 기본 스타일 초기화 */
.nav {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid gray;
  background-color: #503396;
  border-bottom: 1px solid gray;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
}
.navdiv {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-evenly;
}
.logo {
  flex-grow: 1;
  width: 140px;
  height: 75px;
}

.hamburger {
  filter: invert(100%);
  width: 32px;
  height: auto;
  margin-left: 10px;
}

.person {
  filter: invert(100%);
  width: 32px;
  height: auto;
  margin-top: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}


h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* 상단 영화 정보 */
.movie-header {    
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  margin: 0; 
  padding: 0; 
  background-color: #000;
  color: #fff;
}
.movie-info {
  width: 60%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.movie-info h1 {
  font-size: 38px;
  height: auto;
  margin: 8% auto 2% 28%;
}

.movie-info h2 {
  font-size: 20px;
  margin: auto auto auto 17%;
}

.movie-stats span {
  margin-right: 15px;
  font-size: 14px;
}

.movie-poster {          
  width: 14%;
  height: auto;  
  text-align: center;    
  margin: auto 24% auto auto;      
}

.poster {
  width: 100%;
  height: 330px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;  
}

.poster-image {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 100%; /* 부모 요소의 높이에 맞춤 */
  object-fit: fill; /* 이미지 비율을 유지하며 부모 크기에 맞춤 */
}

.reserve-button {
  color: #fff;
  background-color: #503396;
  border: none;
  width: 100%;
  height: 28px;
  margin: 5px auto;    
  font-size: 16px;
  display: flex;
  align-items: center;  
  justify-content: center;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #402a7a;
}

/* 탭 메뉴 */
.tabs {
  width: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding-left: 0px;
  border-bottom: 1px solid #ccc;
}

.tab-button {
  padding: 10px 14%;
  margin-top: 2%;
  font-size: 14px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
}


.tab-button.active {  
  background-color: #503396;
  color: #fff;
  border-bottom: 2px solid #503396;
}

.tab-button:hover {
  background-color: #ddd;
}

/* 주요 정보 */



.main-info {
  width: 52%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  margin: 20px auto;
}

.main-info p:first-of-type {
  margin-bottom: 20px;
  font-size: 32px;
}

.main-info p:nth-of-type(2) {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6; 
}

.more-info-button {
  width: 100%;
  font-size: 16px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* 차트 섹션 */
.chart-section {
  width: 52%;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  margin: 20px auto;
}

.chart-image {
  width: 100%;
  background-color: #f9f9f9;
}

/* 댓글 섹션 */
.comments-section {
  padding: 20px;
  background-color: #f9f9f9;
  width: 52%;
  margin: 20px auto;  
}

.comments-section h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #503396;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.comment p {
  margin-bottom: 5px;
  font-size: 14px;
}

.comment strong {
  font-weight: bold;
}